// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

workspace "home"

// Disable help popup at startup
hotkey-overlay {
    skip-at-startup
}

// TODO move to host-specific
debug {
    render-drm-device "/dev/dri/by-path/pci-0000:01:00.0-card"
}
environment {
    NVD_BACKEND "direct"
    LIBVA_DRIVER_NAME "nvidia"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"

    // offload EVERYTHING on nvidia
    __NV_PRIME_RENDER_OFFLOAD "1"
    __NV_PRIME_RENDER_OFFLOAD_PROVIDER "NVIDIA-G0"
    __VK_LAYER_NV_optimus "NVIDIA_only"
    
}


input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
    }

    touchpad {
        // off
        tap
        natural-scroll
        disabled-on-external-mouse
    }

    mouse {
        accel-profile "flat"
        scroll-factor horizontal=-2.0
        
    }

    // warp-mouse-to-focus
}

// TODO move to host-specific folder
output "eDP-1" {
    mode "1920x1080@60"

    scale 1.5

    transform "normal"

    position x=1920 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@120"

    scale 1

    transform "normal"

    position x=0 y=0
}

output "HDMI-A-2" {
    mode "1920x1080@120"

    // off 
    scale 1

    transform "normal"

    position x=0 y=0
}

layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    // center-focused-column "never"
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.25
        // proportion 0.33
        proportion 0.5
        // proportion 0.67
        proportion 0.75
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        // off

        width 3

        // Default Values, overriden by colors.kdl
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Restore wallpaper on startup
spawn-at-startup "waypaper" "--restore"

animations {
    // off
    slowdown 1.2
}

window-rule {
    match app-id="waypaper"
    open-floating true
}

// Fix Steam notifications popping up in the center of the screen
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^Bitwarden$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

include "keybinds.kdl"

// COLORS
// TODO make path username-independent and/or put it somewhere else
include "/home/nekotori55/.cache/matugen/niri/colors.kdl"
